scheduler_db/*
solr/development/*
solr/development/data/index/segments.gen 
log/*
libiconv-1.13.1
libiconv-1.13.1/*
tmp/*
tmp/*/*
tmp/*/*/*
vendor/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
config/database.yml
log/*/*
log/*/*/*
