<div class="right-container">
  <div class="right-top">
    <div class="tools">
      <img src="http://i57.tinypic.com/1zgstjd.jpg" border="0" class="tool">
      <img src="http://i57.tinypic.com/1zgstjd.jpg" border="0" class="tool">
      <img src="http://i57.tinypic.com/1zgstjd.jpg" border="0" class="tool">
    </div>
    <div class="title-container">
      <div class="title">Untitled Draft</div>
    </div>
  </div>
  <ul class="schedule-list"></ul>
  <div class="right-bottom">
    <div class="controls">
      <div class="dots"></div>
      <img src="http://i60.tinypic.com/6f8j2x.jpg" border="0" class="button right">
      <img src="http://i60.tinypic.com/6f8j2x.jpg" border="0" class="button left">
    </div>
  </div>
</div>