<div class="right-container">
  <div class="right-top">
    <div class="tools">
      <img src="http://i57.tinypic.com/1zgstjd.jpg" border="0" class="tool">
      <img src="http://i57.tinypic.com/1zgstjd.jpg" border="0" class="tool">
      <img src="http://i57.tinypic.com/1zgstjd.jpg" border="0" class="tool">
    </div>
    <div class="title-container">
      <div class="title">Untitled Draft</div>
    </div>
  </div>
  <ul class="schedule-list">
    <li class="schedule">
      <div class="schedule-outer">
        <div class="schedule-inner">
          <div class="tables">
            <table class="schedule-table">
              <tr>
                <td class="first"></td>
                <td id="Su" class="first">Sunday</td>
                <td id="M" class="first">Monday</td>
                <td id="T" class="first">Tuesday</td>
                <td id="W" class="first">Wedneday</td>
                <td id="Th" class="first">Thursday</td>
                <td id="F" class="first">Friday</td>
                <td id="Sa" class="first">Saturday</td>
              </tr>
              <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>11</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>12</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>11</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </li>
    <li class="schedule">
      <div class="schedule-outer">
        <div class="schedule-inner"></div>
      </div>
    </li>
    <li class="schedule">
      <div class="schedule-outer">
        <div class="schedule-inner"></div>
      </div>
    </li>
    <li class="schedule">
      <div class="schedule-outer">
        <div class="schedule-inner"></div>
      </div>
    </li>
  </ul>
  <div class="right-bottom">
    <div class="controls">
      <div class="dots"></div>
      <img src="http://i60.tinypic.com/6f8j2x.jpg" border="0" class="button right">
      <img src="http://i60.tinypic.com/6f8j2x.jpg" border="0" class="button left">
    </div>
  </div>
</div>