<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<header>
    <!-- <img src="http://i61.tinypic.com/dh6882.jpg" border="0"> -->
    <img src="http://i60.tinypic.com/6f8j2x.jpg" border="0" class="icon">
    <h1>Schedulaunch</h1>
    <h5>HOME</h5>
    <h5>WORKSTATION</h5>
    <h5>SETTINGS</h5>
  </header>
  <div class="side-bar">
    <div class="tab select-tab">
      Selected
    </div>
    <div class="tab search-tab selected-tab">
      Search
    </div>
    <div class="side-bar-inner">
      <div class="side-bar-content selected-classes"></div>
      <div class="side-bar-content searched-classes">
        <div class="search-bar">
          <img src="http://i61.tinypic.com/zvymbn.jpg" border="0" class="glass">
          <form>
            <input type="text" value="Search" class="search-bar-input">
          </form>
        </div>
        <div class="search-results">
          <div class="search-results-inner"></div>
        </div>
      </div>
    </div>
  </div>