<div class="side-bar-item">
  <%= deptTitle %>
  <div class="expand">></div>
  <div class="close">x</div>
  <div class="side-bar-item-container">
    <div class="sections-outline">
      <div class="section-container"></div>
    </div>
  </div>
</div>