<div id="top-bar">
  <p id="sched">Schedulizer</p>
  <hr id="line"></hr>
</div>
<div id="Container">
  <div id="sidebar">
    <p id="Find">Find a class</p>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>