<%= stylesheet_link_tag 'index', media: 'all' %>
<div id="top-bar">
  <p id="sched">Schedulizer</p>
  <hr id="line"></hr>
</div>
<div id="container">
  <div id="search-bar">
    <p id="find">Find a class</p>
  </div>
  <div id="section-course-one" class="section-course"> 
  </div>
  <div id="section-course-two" class="section-course">
  </div>
  <div id="section-course-three" class="section-course">
  </div>
  <div id="section-course-four" class="section-course">
  </div>
  <div id="section-course-five" class="section-course">
  </div> 
</div>