<%= stylesheet_link_tag 'login', media: 'all' %>
<div id="header">
  <img src="http://localhost:3000/assets/horaefont.png" id="logo"></img>
</div>
<div id="content"></div>
<div id="footer">Horae 2014 Copyright</div>
