<%= stylesheet_link_tag 'login', media: 'all' %>
<div id="top-bar-login">
  <p id="sched-login">Schedulizer</p>
  <hr id="line-login"></hr>
</div>
<div id="bottom-bar-login"></div>
<div id="content-login">
	<div id="thin-bar-login"></div>
	<div id="pulse-login"></div>
	<div id="schedulizer-login-login"></div>
</div>
