<%= stylesheet_link_tag 'login', media: 'all' %>
<header>
  <img src="http://localhost:3000/assets/horae.png" id="logo"></img>
</header>
<div id="content"></div>
<footer>Horae 2014 Copyright</footer>
