<%= stylesheet_link_tag 'login', media: 'all' %>
<div id="top-bar-login">
  <p id="sched-login">Horae</p>
  <p id="sched-descriptor-login">Optimize Your Class Schedule</p>
  <hr id="line-login"></hr>
</div>
<div id="bottom-bar-login"></div>
<div id="content-login"></div>
