<%= stylesheet_link_tag 'login', media: 'all' %>
<div id="top-bar-login">
	<img src="http://localhost:3000/assets/Horae.png" id="horae"></img>
</div>
<div id="bottom-bar-login"></div>
<div id="content-login">
	<div id="pulse-login">
		<div id="schedulizer-login-login">
			<p id="tag-line-login">Welcome to the Optimization</p>
			<p id="username" class="login-words-login">Username</p>
			<p id="password" class="login-words-login">Password</p>
		</div>
	</div>
</div>
