<li id="about" class="welcome-child">
	<h2>About</h2>
    <form class="welcome-child-form">
		<div class="welcome-child-block">
			<label for="username">Username</label>
			<input id="user" class="welcome-child-entry-field" type="text" />
			<label for="password">Password</label>
			<input id="pass" class= "welcome-child-entry-field" type="password" />
		</div>
		<div class="clear"></div>
		<button type="button" class="welcome-child-button">Sign Up</button>
    </form>
</li>