<li id="about" class="welcome-child">
	<h2>About</h2>
    <form>
		<div class="block">
			<label for="username">Username</label>
			<input id="user" type="text" />
			<label for="password">Password</label>
			<input id="pass" type="password" />
		</div>
		<div class="clear"></div>
		<button type="button">Sign Up</button>
    </form>
</li>