<li id="join" class="welcome-child">
  <p class="welcome-child-tag-line">Join Us!</p>
    <form class="welcome-child-form">
      <label for="join-username">Username</label>
      <input id="join-username" class="welcome-child-entry-field" type="text" />
      <label for="join-first">First Name</label>
      <input id="join-first" class="welcome-child-entry-field" type="text" />
      <label for="join-last">Last Name</label>
      <input id="join-last" class="welcome-child-entry-field" type="text" />
      <label for="join-email">Email</label>
      <input id="join-email" class="welcome-child-entry-field" type="text" />
      <label for="join-password">Password</label>
      <input id="join-password" class= "welcome-child-entry-field" type="password" />
      <button type="button" id="join-button" class="welcome-child-button">Sign Up</button>
    </form>
</li>,