<li id="join" class="welcome-child">
	<h2>Join Us!</h2>
	<form>
		<div class="block">
			<label for="join-first">First Name</label>
			<input id="join-first" type="text" />
			<label for="join-last">Last Name</label>
			<input id="join-last" type="text" />
			<label for="join-email">Email</label>
			<input id="join-email" type="text" />
		</div>
		<div class="line"></div>
		<div class="block">
			<label for="join-password">Password</label>
			<input id="join-password" type="password" />
			<label for="join-retype-password">Retype Password</label>
			<input id="join-retype-password" type="password" />
			<label for="join-university">Select University</label>
			<input id="join-university" type="text" />
		</div>
		<div class="clear"></div>
		<button type="button" id="join-button">Sign Up</button>
	</form>
</li>