<li id="join" class="welcome-child">
	<h2>Join Us!</h2>
	<form class="welcome-child-form">
		<div class="welcome-child-block">
			<label for="join-first">First Name</label>
			<input id="join-first" class="welcome-child-entry-field" type="text" />
			<label for="join-last">Last Name</label>
			<input id="join-last" class="welcome-child-entry-field" type="text" />
			<label for="join-email">Email</label>
			<input id="join-email" class="welcome-child-entry-field" type="text" />
		</div>
		<div class="welcome-child-line"></div>
		<div class="welcome-child-block">
			<label for="join-password">Password</label>
			<input id="join-password" class= "welcome-child-entry-field" type="password" />
			<label for="join-retype-password">Retype Password</label>
			<input id="join-retype-password" class= "welcome-child-entry-field" type="password" />
			<label for="join-university">Select University</label>
			<input id="join-university" class="welcome-child-entry-field" type="text" />
		</div>
		<div class="clear"></div>
		<button type="button" id="join-button" class="welcome-child-button">Sign Up</button>
	</form>
</li>