<li id="join" class="welcome-child">
  <p class="welcome-child-tag-line">Join Us!</p>
    <form class="welcome-child-form">
      <label for="username">Username</label>
      <input id="user" class="welcome-child-entry-field" type="text" />
      <label for="password">Password</label>
      <input id="pass" class= "welcome-child-entry-field" type="password" />
      <button type="button" class="welcome-child-button">Sign Up</button>
    </form>
</li>,