<li id="login" class="welcome-child">
	<h2>Welcome</h2>
	<form>
		<div class="block">
			<label for="username">Username</label>
			<input id="username" type="text" />
			<label for="password">Password</label>
			<input id="password" type="password" />
		</div>
		<div class="clear"></div>
		<button type="button" id="login-button">Login</button>
	</form>
	<p>Forgot username of password? Click <a href="#">here</a></p>
</li>