<div id="pulse-login">
  <div id="schedulizer-login-login">
    <p id="tag-line-login">Welcome to the Optimization</p>
    <p id="username" class="login-words-login">Username</p>
    <p id="password" class="login-words-login">Password</p>
  </div>
</div>