<div id="schedulizer-login-login">
  <center>
    <p id="tag-line-login">Welcome to the Optimization</p>
  </center>
  <div id="login-form-login">
  	<div id="sign">
	    <form>
	      Username: 
        <br>
        <input id="username" class="user-entry-login" type="text">
        <br>
	      Password: 
        <br>
        <input id="password" class= "user-entry-login" type="password">
        <br>
	    </form>
	  </div>
    <button type="button" id="entry">Submit</button>
  </div>
</div>