<div id="schedulizer-login-login">
  <p id="tag-line-login">Welcome to the Optimization</p>
    <form id="login-form">
      <label for="username">Username</label>
      <input id="username" class="user-entry-login" type="text">
      <label for="password">Password</label>
      <input id="password" class= "user-entry-login" type="password">
      <button type="button" id="entry">Login</button>
    </form>
</div>