<div id="schedulizer-login-login">
  <p id="tag-line-login">Welcome to the Optimization</p>
  <div id="login-form-login">
  	<div id="sign">
	    <form>
	      Username: <input id="username" type="text"><br>
	      <br>
	      Password: <input id="password" type="text"><br>
	    </form>
	  </div>
    <button type="button" id="entry">Submit</button>
  </div>
</div>