<li id="login" class="welcome-child">
  <p class="welcome-child-tag-line">Welcome to the Optimization</p>
    <form class="welcome-child-form">
      <label for="username">Username</label>
      <input id="username" class="welcome-child-entry-field" type="text" />
      <label for="password">Password</label>
      <input id="password" class= "welcome-child-entry-field" type="password" />
      <button type="button" class="welcome-child-button">Login</button>
    </form>
</li>