<div id="pulse-login">
  <div id="schedulizer-login-login">
    <p id="tag-line-login">Welcome to the Optimization</p>
    <form>
      Username: <input id="username" class="login-words-login" type="text"><br>
      Password: <input id="password" class="login-words-login" type="text"><br>
    </form>
    <button type="button" id="entry">Submit</button>
  </div>
</div>