<div id="scheduler">
  <div id="search">
    <label for="search">Search</label>
    <input id="search" class="welcome-child-entry-field" type="text" />
  </div>
  <div id="anthology">
    <h3>Anthology</h3>
    <ul>
      <li>Prof. Hernandez</li>
      <li>Computer Science</li>
      <li>GEs</li>
      <li>Calculus</li>
      <li>Dornsife</li>
    </ul>
  </div>
  <table id="schedule">
    <tr>
      <th></th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th></th>
    </tr>
    <!-- example 12:00PM row, will normally start at 6:00AM -->
    <tr>
      <td>12:00pm</td>
      <td rowspan="4">FACS-203</td>
      <td></td>
      <td rowspan="4">FACS-203</td>
      <td></td>
      <td rowspan="4">FACS-203</td>
      <td></td>
    </tr>
    <!-- continue until 11:00PM -->
  </table>
  <div id="tracer">
    <h3>Tracer</h3>
  </div>
  <div id="drafts">
    <h3>Drafts</h3>
    <div id="draft-1"></div>
    <div id="draft-2"></div>
  </div>
</div>