<div id="welcome">
	<div id="welcome-about-button" class="header-button">About</div>
	<div id="welcome-join-button" class="header-button">Join</div>
	<div id="welcome-login-button" class="header-button">Login</div>
	<ul id="welcome-carousel">
	</ul>
</div>