<div id="welcome">
  <div id="right" class="header-button">About</div>
  <div id="left" class="header-button">Join</div>
  <div id="right" class="header-button">Login</div>
  <ul id="welcome-carousel">
    <div class="clear"></div>
  </ul>
</div>