<div id="welcome">
  <button id="right" class="header-button">Right</button>
  <button id="left" class="header-button">Left</button>
  <ul id="welcome-carousel">
    <div class="clear"></div>
  </ul>
</div>