#top-bar {
  background-color: #14153F;
  width: 100%;
  height: 122.6px;
 }

#sched {
  font-size: 250%;
  color: white;
  height: 200 px;
  font-family: caviar dreams;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 50px;
}

#line {
  color: white;
  width: 45%;
  position: absolute;
  top: 90px; 
  left: 50px;
}

#search bar {
  background-color: #BCE024;
  width: 30%;
  height: 90px;
  position: absolute;
  top: 122.6px;
}

#find {
  margin: 0px;
  font-size: 150%;
  font-family: Yanone Kaffeesatz;
  position: absolute;
  top: 145px;
  left: 50px;
}

.section-course {
  width: 18%;
  height: 50.22px;
  position: absolute;
}

#section-course-one {
  background-color: #C7DD45;
  width: 18%;
  top: 170px;
  left: 20px;

}


#section-course-two {
  background-color: #D1DB6A;
  width: 18%;
  top: 260px;
  left: 20px;

}

#section-course-three {
  background-color: #D0D385;
  width: 18%;
  top: 420px;
  left: 20px;

}

#section-course-four {
  background-color: #D1D1B0;
  width: 18%;
  top: 610px;
  left: 20px;

}

#section-course-five {
  background-color: #D1D1B0;
  width: 18%;
  top: 800px;
  left: 20px;
}