/*Organize properties alphabetically*/.

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  font-family: walkway bold;
  body: 0px;
}

#header {
  background-color: #333333;
  height: 102px;
  width: 100%;
}

#logo {
  height: 100%;
  margin: 0 0 0 20px;
}
 
#content {
  height: calc(100% - 102px);
  height: -moz-calc(100% - 102px);
  height: -webkit-calc(100% - 102px);
}
#welcome {
  background: url("essentials.jpg") center;
  background-size: cover;
  height: 100%;
}

#welcome-carousel {

}

.welcome-child {
  background-color: rgba(56, 192, 205, 0.82);
  margin: 0 auto;
  padding: 15px;
  position: relative;
  top: 50%;
  list-style-type: none;
  display: inline-block;

  transform: translateY(-50%);
  -ms-tranform: translateY(-50%);
  -webkit-transform: translafteY(-50%);

  width: 350px;
}

.welcome-child-tag-line {
  color: #333333;
  font-size: 1.65em;
  margin: 10px 0;
  text-align: center;
}

.welcome-child-form {
  color: #333333;
  font-size: 0.9em;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.welcome-child-form label {
  display: block;
  margin: 10px 1em;
}

.welcome-child-entry-field {
  background: rgb(230, 230, 230);
  border: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  box-sizing: border-box;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #666;
  font-size: 1.2em;
  height: 2.5em;
  padding: 0 1.25em;

  transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;

  width: 100%;
}

.welcome-child-entry-field:focus {
  background: white;

  box-shadow: inset 0 0 7px rgb(56, 192, 205);
  -moz-box-shadow: inset 0 0 7px rgb(56, 192, 205);
  -webkit-box-shadow: inset 0 0 7px rgb(56, 192, 205);

  color: #333;
  outline: none;
}

.welcome-child-button {
  background: rgb(230, 230, 230);
  border: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  box-shadow: 0 3px lightgrey;
  -moz-box-shadow: 0 3px lightgrey;
  -webkit-box-shadow: 0 3px lightgrey;

  height: 3em;
  margin: 36px 0;
  position: relative;
  width: 100%;
}

.welcome-child-button:hover {
  box-shadow: 0 2px lightgrey;
  -moz-box-shadow: 0 2px lightgrey;
  -webkit-box-shadow: 0 2px lightgrey;

  top: 1px;
}

.welcome-child-button:focus
{
  outline: none;
}

.welcome-child-button:active {
  box-shadow: 0 0;
  -moz-box-shadow: 0 0;
  -webkit-box-shadow: 0 0;

  outline: none;
  top: 2px;
}
