/*
Organize properties alphabetically
  ░░░░░░░░░▄░░░░░░░░░░░░░░▄░░░░
  ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌░░░
  ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐░░░
  ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐░░░
  ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐░░░
  ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌░░░ 
  ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌░░
  ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐░░
  ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌░
  ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌░
  ▀▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐░
  ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
  ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐░
  ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌░
  ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐░░
  ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌░░
  ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀░░░
  ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀░░░░░
  ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀░░░░░░░░*/

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  overflow-x: hidden;
}

.clear {
  clear: both;
}

body {
  height: 100%;
  font-family: walkway bold;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  background-color: rgba(0, 0, 0, 0.70);
  border-bottom: solid 3px white;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: 90;
}

.header-button {
  height: 30px;
  width: 70px;

  color: white;
  text-align: center;
  vertical-align: middle; 
  top: 40px;

  float: right;
  line-height: 30px;
  position: relative;

  padding: 5px 0;
  z-index: 100;
}

.header-button:hover {
  background-color: grey;
  cursor: pointer;

  transition-duration: 0.50s;
  -moz-transition-duration: 0.50s;
  -webkit-transition-duration: 0.50s;
}

#logo {
  height: 100%;
  margin: 0 0 0 20px;
}
 
#content {
 height: 100%;
}

#welcome {
  height: 100%;
  position: relative;
  width: 100%;
}

.welcome-background {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 120%;
}

#sky {
  background-image: url(sky.png);
}

#trees-back {
  background-image: url(trees_back.png);
  left: -5em;
}

#building {
  background-image: url(building.png);
}

#clock {
  background-image: url(clock.png);
  left: -10em;
}

#trees-front {
  background-image: url(trees_front.png);
  left: -15em;
}

#welcome-carousel {
  overflow: hidden;
  position: relative;

  top: calc(50% - 40px);
  top: -moz-calc(50% - 40px);
  top: -webkit-calc(50% - 40px);

  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  width: 9999px;
}

.welcome-child {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: white;
  display: block;
  float: left;
  list-style-type: none;
  margin: 0 0 0 0;
  max-width: 623px;
  padding: 30px 30px;
  position: relative;
}

.welcome-child .block {
  float: left;
  max-height: 300px;
  width: 250px;
}

.welcome-child .line {
  background-color: white;
  display: inline-block;
  float: left;
  height: 230px;
  margin: 0 30px;
  width: 3px;
}

.welcome-child h2 { 
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 20px 0;
  text-align: center;
}

form {
  font-size: 1em;
  margin: 0 auto;
  overflow: hidden;
}

form label {
  display: block;
  margin: 10px 0;
}

.welcome-child input[type="text"], .welcome-child input[type="password"] {
  background: rgb(230, 230, 230);
  border: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: #666;
  font-size: 1.2em;
  height: 30px;
  padding: 0 1em;

  transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;

  width: 100%;
}

.welcome-child input[type="text"]:focus, .welcome-child input[type="password"]:focus {
  background: white;

  box-shadow: inset 0 0 7px rgb(56, 192, 205);
  -moz-box-shadow: inset 0 0 7px rgb(56, 192, 205);
  -webkit-box-shadow: inset 0 0 7px rgb(56, 192, 205);

  color: #333;
  outline: none;
}

.welcome-child button {
  background: rgb(0, 0, 0);
  border: none;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  color: white;
  display: block;
  height: 30px;
  margin: 36px auto 0 auto;
  position: relative;
  width: 250px;
}

.welcome-child-button:hover {
}

.welcome-child-button:focus {
  outline: none;
}

.welcome-child-button:active {
  box-shadow: 0 0;
  -moz-box-shadow: 0 0;
  -webkit-box-shadow: 0 0;

  outline: none;
  top: 2px;
}

.welcome-child p {
  font-size: 0.85em;
  margin: 10px 0  0;
  text-align: center;
}

.welcome-child p a {
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: solid 3px white;
  bottom: 0px;
  color: white;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
}
