<!-- insert the navigation buttons -->
<div id="scheduler-home">
	<div id="top-bar">
		<h2>Welcome Back Student</h2>
		<select>
			<option>Fall 2015</option>
			<option>more options</option>
		</select>
	</div>
	<div id="left-bar">
		<h2>Recent News</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Welcome back University of Southern California students!</p>
		<p>Upcoming updates: We will soon be introducing our interactive campus map feature!</p>
	</div>
	<div id="main">
		<h2>Current Drafts</h2>
		<div id="drafts">
			<div id="main-draft">
				<a href="/scheduler">
					<img src="draft">
				</a>
				<div class="line"></div>
				<div class="description">
					<h2>Scheduled Courses</h2>
					<p>course 1</p>
					<p>course 2</p>
					<!-- etc -->
				</div>
			</div>
			<div id="draft-carousel">
				<button class="leftarrow"></button>
				<a href="/scheduler" class="draft-carousel-child">
					<img src="anotherdraft">
					<p>draft name</p>
				</a>
				<a href="/scheduler" class="draft-carousel-child">
					<img src="anotherdraft">
					<p>draft name</p>
				</a>
				<a href="/scheduler" class="draft-carousel-child">
					<img src="anotherdraft">
					<p>draft name</p>
				</a>
				<a href="/scheduler" class="draft-carousel-child">
					<img src="anotherdraft">
					<p>draft name</p>
				</a>
				<button class="rightarrow"></button>
			</div>
		</div>
	</div>
</div>